node_modules
**/node_modules
.git
.gitignore
.gitattributes
.vscode
.prettierrc
investigation
vaults
demo-vaults
data
tmp
**/dist
packages/bridge-plugin/main.js
apps/ignis-server/server/plugins/*/plugin/main.js
